.row {
    display: flex;
    margin: 10px;
    flex-wrap: wrap;

    .video-detail {
        width: 60%;
        .iframe-wrapper {
            width: 100%;
            iframe {
                width: 100%;
                height: 500px;
            }
        }
    }
    .videoList {
        width: 30%;
        margin-top: 0;    
        
        .list-item {
            list-style-type: none;
            margin-bottom: 10px;
            display: flex;
            &.selected {
                background-color: rgb(240, 231, 231);
            }
            .video-list {
                display: flex;
                cursor: pointer;

                .media-body {
                    margin: 5px 0 10px 5px;
                    font-size: 15px;
                }
            }
            &:hover {
                background-color: rgb(240, 231, 231);
            }
        }
    }
}
@media screen and (max-width: 600px){
    .row{
        flex-direction: column;

        .video-detail {
            width: 100%;

            .iframe-wrapper {
                width: 100%;

                iframe {
                    width: 100%;
                    height: 300px;
                }
            }
        }
        .videoList {
            width: 100%;
            margin:auto;
        }
    }
}